<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="multiHostRedirectData" type="Ministry.MultiHostRedirector.UrlRedirectConfigurationSection" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <multiHostRedirectData configSource="redirects-sample-2.config"/>
  
  <system.web>
    <compilation debug="false" targetFramework="4.0">
    </compilation>
  </system.web>

  <system.webServer>
    <handlers>
      <add name="MultiHostRedirectHttpHandler" verb="*" path="*" type="Ministry.MultiHostRedirector.MultiHostRedirectHttpHandler, Ministry.MultiHostRedirector" />
    </handlers>    
  </system.webServer>

</configuration>